<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><%= link_to @overtime.subject, overtime_path(@overtime) %></p>
    <p><%= @overtime.state.name %></p>
  </body>
</html>