<ul class="breadcrumb">
  <li><a href="/">首页</a> <span class="divider">/</span></li>
  <li><%= link_to '加班系统', overtimes_path %> <span class="divider">/</span></li>
  <li class="active">修改加班</li>
</ul>

<h1>修改加班</h1>

<%= render 'form' %>

